body {
    font-family: 'Montserrat', sans-serif;
}

.btn {
    text-transform: none;
}

.btnMain {
    color: white;
    background-color: #f53756!important;
}

.modal-header {
    background-color: #f53756!important;
}

.btn-default {
    background-color: rgb(56, 178, 253) !important;
    color: #fff !important;
}

.bg-danger {
    background-color: #f53756!important;
}

.bg-success {
    background-color: #f53756!important;
}

.bg-warning {
    background-color: #fef46d!important;
}

.bg-secondary {
    background-color: #f53756!important;
}

.fixed-top.bg-success {
    -webkit-box-shadow: 0px 5px 19px -5px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 5px 19px -5px rgba(0, 0, 0, 0.44);
    box-shadow: 0px 5px 19px -5px rgba(0, 0, 0, 0.44);
}

.fixed-top {
    transition: all .3s ease;
}

.fixed-top .nav-link {
    color: white;
}

.fixed-top .active {
    background-color: #f53756!important;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: 400;
}

.navbar-brand span {
    font-weight: 700;
}

.name {
    color: white !important;
}

.name:hover {
    font-size: 1.9rem;
    color: white !important;
}

.navbar-brand:hover {
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
}

.embed-responsive {
    position: relative;
    background-image: url(/assets/img/main.jpg);
    background-size: cover;
    background-position: center center;
    height: 50rem;
}

@media (min-width: 992px) {
    .embed-responsive {
        background-image: unset;
        height: auto;
    }
}

.embed-responsive::after {
    height: 100%;
    width: 100%;
    position: absolute;
    content: '';
    display: block;
    top: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,000000+51,6b6b6b+100&0.7+0,0.7+100 */
    background: -moz-linear-gradient(-45deg, rgba(169, 3, 41, 0.7) 0%, rgba(0, 0, 0, 0.7) 51%, rgba(107, 107, 107, 0.7) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(169, 3, 41, 0.7) 0%, rgba(0, 0, 0, 0.7) 51%, rgba(107, 107, 107, 0.7) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(169, 3, 41, 0.7) 0%, rgba(0, 0, 0, 0.7) 51%, rgba(107, 107, 107, 0.7) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b3a90329', endColorstr='#b36b6b6b', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.gym-info {
    position: absolute;
    z-index: 100;
    top: 20%;
}

.gym-info h1 {
    font-size: 3rem;
    line-height: 6rem;
}

@media (min-width: 768px) {
    .gym-info {
        top: 30%;
    }
    .gym-info h1 {
        font-size: 4rem;
        line-height: unset;
    }
}

.gym-info h1 span,
.gym-info p {
    font-weight: 700;
    -webkit-box-shadow: 0px 17px 24px -13px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 17px 24px -13px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 17px 24px -13px rgba(0, 0, 0, 0.34);
}

.gym-info p {
    font-size: 2rem;
}

.gym-info .text-dark,
.contenido-principal .text-dark {
    color: #f53756!important;
    font-weight: 700;
}


/* Modal */

.form-dark .font-small {
    font-size: 0.8rem;
}

.form-dark [type="radio"]+label,
.form-dark [type="checkbox"]+label {
    font-size: 0.8rem;
}

.form-dark [type="checkbox"]+label:before {
    top: 2px;
    width: 15px;
    height: 15px;
}

.form-dark .md-form label {
    color: #fff;
}

.form-dark input[type=email]:focus:not([readonly]) {
    border-bottom: 1px solid #00C851;
    -webkit-box-shadow: 0 1px 0 0 #00C851;
    box-shadow: 0 1px 0 0 #00C851;
}

.form-dark input[type=email]:focus:not([readonly])+label {
    color: #fff;
}

.form-dark input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #00C851;
    -webkit-box-shadow: 0 1px 0 0 #00C851;
    box-shadow: 0 1px 0 0 #00C851;
}

.form-dark input[type=password]:focus:not([readonly])+label {
    color: #fff;
}

.form-dark input[type="checkbox"]+label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    z-index: 0;
    border: 1.5px solid #fff;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.form-dark input[type="checkbox"]:checked+label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent #00c851 #00c851 transparent;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.form-dark .modal-header {
    border-bottom: none;
}

.errors {
    text-align: center;
    margin-bottom: 0px;
    background: #f53756;
    color: white;
    font-weight: bold;
}


/* Modal */

.modal-notify .modal-header {
    border-radius: 3px 3px 0 0;
}

.modal-notify .modal-content {
    border-radius: 3px;
}


/* user-type */

.user-type {
    display: flex;
    justify-content: center;
}

.btn-outline-isGymActive {
    border: 2px solid #f53756!important;
    background-color: #f53756!important;
    color: white;
}

.btn-outline-isUserActive {
    border: 2px solid #f53756!important;
    background-color: #f53756!important;
    color: white;
}

.is-user-i {
    color: white !important;
}

.is-gym-i {
    color: white !important;
}

.btn-outline-info {
    border: 2px solid #f53756!important;
    background-color: transparent !important;
    color: #f53756!important;
}

.modal-dialog.modal-notify.modal-warning .fas,
.modal-dialog.modal-notify.modal-warning .fab,
.modal-dialog.modal-notify.modal-warning .far {
    color: #f53756 !important;
}