<body data-spy="scroll" data-target="#main-nav" data-offset="10">

  <nav id="main-nav" class="navbar fixed-top navbar-light bg-transparent">
      <div class="container">
          <a class="navbar-brand text-light name">Go-Gym <span> 2019</span></a>
          <ul class="nav nav-pills">
              <li class="nav-item">
                  <button type="button" class="btnMain" mdbBtn rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()" mdbWavesEffect>
                      Login
                  </button>
              </li>
          </ul>
      </div>
  </nav>

  <div class="embed-responsive embed-responsive-16by9">
      <!-- <video class="embed-responsive-item d-none d-lg-block" src="assets/video/gym.mp4" autoplay loop></video> -->

      <div class="container">
          <div class="gym-info text-light">
              <h1>MORE THAN A DREAM <span class="p-4 bg-light text-dark"> 2019 G-G </span></h1>
              <p class="p-3 text-dark bg-light d-inline-block mt-5">
                  We are a goal to fulfill
              </p>
          </div>
      </div>
  </div>
</body>



<!-- Modal -->

<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">

        <div class="modal-content">

            <div class="modal-header text-center">
                <h4 class="modal-title white-text w-100 font-weight-bold py-2">Login</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="md-form form-sm">
                    <i class="fas fa-envelope prefix"></i>
                    <input mdbInput type="text" id="user" class="form-control" [formControl]="modalFormLoginEmail">
                    <label for="user">Your email</label>
                </div>

                <div class="md-form form-sm">
                    <i class="fas fa-lock prefix"></i>
                    <input mdbInput type="password" id="password" class="form-control" [formControl]="modalFormLoginPassword">
                    <label for="password">Your password</label>
                </div>

               <!--  <div class="md-form form-sm">
                    <i class="fas fa-lock prefix"></i>
                    <input mdbInput type="text" id="confirmationCode" class="form-control" [formControl]="modalFormLoginCode">
                    <label for="password">Your confirmation code</label>
                </div> -->

                <!-- <div class="container user-type">
                    <button type="button" mdbBtn [ngClass]="{'btn-outline-info':!isGym}" [ngClass]="{'btn-outline-isGymActive':isGym}" color="isGymActive" outline="true" data-dismiss="modal" (click)="changeGymUser(true)" mdbWavesEffect>Gym
                        <i [ngClass]="{'is-gym-i':!isGym}" class="fas fa-dumbbell"></i>                    
                    </button>
                    <button type="button" mdbBtn [ngClass]="{'btn-outline-info':isGym}" [ngClass]="{'btn-outline-isUserActive':isGym}" color="isUserActive" outline="true" data-dismiss="modal" (click)="changeGymUser(false)" mdbWavesEffect>User
                        <i class="far fa-user"></i>
                    </button>
                </div> -->

                <div *ngIf="errors" class="md-form form-sm errors">
                    Email or Password are invalid. Try again please.
                </div>
                <div *ngIf="smsError" class="md-form form-sm errors">
                    Confirmation code is invalid. Try again please.
                </div>

            </div>
            <!-- <div class="modal-footer justify-content-center">
                <button type="button" mdbBtn color="info" outline="true" data-dismiss="modal" (click)="login()" mdbWavesEffect>obtener código
                    <i class="fas fa-sign-in-alt ml-1"></i>
                </button>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" mdbBtn color="info" outline="true" data-dismiss="modal" (click)="verifyCode()" mdbWavesEffect>Log in
                    <i class="fas fa-sign-in-alt ml-1"></i>
                </button>
            </div> -->

            <div class="modal-footer justify-content-center">
                <button type="button" mdbBtn color="info" outline="true" data-dismiss="modal" (click)="login()" mdbWavesEffect>Log in
                    <i class="fas fa-sign-in-alt ml-1"></i>
                </button>
            </div> 


        </div>
    </div>
</div>
