/* HORARIOS **/

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: white;
}

.horario {
    background-color: #8ed3cc;
    color: #ffffff !important;
}

th {
    font-weight: bold;
    text-align: -internal-center;
}

.horario h2 {
    font-size: 2.2rem;
    font-family: 'Lato', sans-serif !important;
}

.horario .table {
    border: 2px solid #752f97!important;
}

.horario .table thead {
    background-color: #752f97!important;
}

.horario .table td,
.horario .table thead th {
    border: none;
}

.horario .table tbody tr td {
    /* padding: .35rem; */
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

.hovertr {
    color: #752f97!important;
}

.hovertr:hover {
    background-color: white;
    color: #f53756!important;
}

.bg-horario {
    background-image: url(/assets/img/you_can.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 400px;
}