<app-header></app-header>

<hr>

<div class="container">
    <div class="form-group text-center">
        <div class="justify-content-center">
            <button type="submit" class="btn btn-outline-primary" routerLink="../chart">
            <i class="fas fa-chart-line"></i>
            Gráficos
      </button>
        </div>
    </div>
    <br>
    <div class="horario">
        <div class="container">
            <div class="row">
                <div class="col-md-12 p-4">

                    <h2 class="text-center text-uppercase mt-5">historiales</h2>

                    <table class="table-responsive table table-hover text-center mt-3">
                        <thead>
                            <tr>
                                <th class="text-center">Fecha</th>
                                <th class="text-center">Estatura</th>
                                <th class="text-center">Kilogramos</th>
                                <th class="text-center">% de Grasa</th>
                                <th class="text-center">Músculo</th>
                                <th class="text-center">Grasa Viseral</th>
                                <th class="text-center">Edad Física</th>
                                <th class="text-center">Edad Metabolica</th>
                                <th class="text-center">Indice de Masa Corporal</th>
                                <th class="text-center">Tasa Metabolica Basal</th>
                                <th class="text-center">Presión Arterial</th>
                                <th class="text-center">Circunferencia de la Cintura</th>
                                <th class="text-center">Circunferencia de la Cadera</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="hovertr" *ngFor="let item of histories">
                                <td>{{item.date}}</td>
                                <td>{{item.height}}</td>
                                <td>{{item.kilograms}}</td>
                                <td>{{item.fatPercentage}}</td>
                                <td>{{item.muscle}}</td>
                                <td>{{item.fatViceral}}</td>
                                <td>{{item.physicalAge}}</td>
                                <td>{{item.metabolicAge}}</td>
                                <td>{{item.IMC}}</td>
                                <td>{{item.TMB}}</td>
                                <td>{{item.bloodPressure}}</td>
                                <td>{{item.waistCircumference}}</td>
                                <td>{{item.hipCircumference}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<br>
<app-footer></app-footer>