.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.input-empty{
  border-style: solid;
  border-width: 2px;
  border-color:red;
}

input::placeholder {
  color: red;
}