<app-header></app-header>
<br>

<div class="container col-md-6">

    <div class="card center-block" style="width: 9rem;">
        <img class="card-img-top" src="../../../assets/img/user-image.png" alt="Card image cap">
        <div class="card-body center-block ">
            <h5 class="card-title">{{user.name}}</h5>
            <p>{{user.idNumber}}</p>
        </div>
    </div>

    <form>
        <div class="form-group">
            &nbsp;
            <label for="exampleInputName">Nombre</label>
            <input [(ngModel)]="user.name" type="text" class="form-control" name="nameInput" aria-describedby="nameInput" placeholder="Ingresar el nombre">
            <!-- <small name="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
        </div>
        <div class="form-group">
            &nbsp;
            <label for="exampleInputLastName">Apellidos</label>
            <input [(ngModel)]="user.lastName" type="text" class="form-control" name="lastNameInput" aria-describedby="nameInput" placeholder="Ingresar el apellido">
            <!-- <small name="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
        </div>
        <div class="form-group">
            &nbsp;
            <label for="cardIDInput">Cédula</label>
            <input [(ngModel)]="user.idNumber" type="text" class="form-control" name="cardIDInput" aria-describedby="cardIDInput" placeholder="Ingresar la cédula">
            <!-- <small name="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
        </div>
        <div class="form-group">
            &nbsp;
            <label for="phoneInput">Teléfono</label>
            <input [(ngModel)]="user.phone" type="text" class="form-control" name="phoneInput" aria-describedby="phoneInput" placeholder="Ingresar el télefono">
            <!-- <small name="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
        </div>
        <div class="form-group">
            &nbsp;
            <label for="ageInput">Fecha de nacimiento</label>
            <input [(ngModel)]="user.born" type="text" class="form-control" name="ageInput" aria-describedby="ageInput" placeholder="Ingresar la edad" min="3" max="120">
            <!-- <small name="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
        </div>
        <div class="form-group">
            &nbsp;
            <label for="phoneInput">Género</label>
            <select [(ngModel)]="user.gender" name="gender " class="form-control">
          <option>Másculino</option>
          <option>Femenino</option>
          <option >Prefiero no decir</option>
      </select>
        </div>

        <div class="form-group">
            &nbsp;
            <label for="exampleInputEmail1">Correo electrónico</label>
            <input [(ngModel)]="user.email" type="email" class="form-control" name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresar el correo electrónico">
            <!-- <small name="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
        </div>
        <div class="form-group">
            &nbsp;
            <label for="levelInput">Nivel</label>
            <input [(ngModel)]="user.level" type="text" class="form-control" name="levelInput" aria-describedby="levelInput" placeholder="Ingrese el nivel">
            <!-- <small name="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
        </div>
        <div class="form-group">
            &nbsp;
            <label for="exerciseInput">¿Realiza  ejercicios constamente?</label>
            <br>
            <label class="btn btn-primary active">
            &nbsp;
          <input class="form-check-input" type="radio" name="exercise" [value]="1" [(ngModel)]="user.exercise">
          Si
        </label> &nbsp;
            <label class="btn btn-primary active">
          &nbsp;
          <input class="form-check-input" type="radio" name="exercise" [value]="0" [(ngModel)]="user.exercise">
          No
      </label>
        </div>

        <div class="form-group">
            &nbsp;
            <label for="exerciseInput">¿Consume tabaco?</label>
            <br>
            <label class="btn btn-primary active">
            &nbsp;
          <input class="form-check-input" type="radio" name="cigar" [value]="1" [(ngModel)]="user.cigar">
          Si
        </label> &nbsp;
            <label class="btn btn-primary active">
          &nbsp;
          <input class="form-check-input" type="radio" name="cigar" [value]="0" [(ngModel)]="user.cigar">
          No
      </label>
        </div>
        <div class="form-group">
            &nbsp;
            <label for="exerciseInput">¿Consume bebidas con licor?</label>
            <br>
            <label class="btn btn-primary active">
            &nbsp;
          <input class="form-check-input" type="radio" name="liqueur" [value]="1" [(ngModel)]="user.liqueur">
          Si
        </label> &nbsp;
            <label class="btn btn-primary active">
          &nbsp;
          <input class="form-check-input" type="radio" name="liqueur" [value]="0" [(ngModel)]="user.liqueur">
          No
      </label>
        </div>

        <div [class]="alertCss" role="alert">
            <strong>{{message}}</strong>
        </div>
        <div class="row justify-content-center">
            <button (click)="updateProfile()" type="submit" class="btn btn-primary">Actualizar</button>
        </div>

    </form>

</div>