main {
    margin-top: 20px;
}


/* --- --- BARRA LATERAL IZQUIERDA --- --- */

main .barra-lateral-izquierda {
    padding-bottom: 10px;
    padding-left: 0;
}

main .barra-lateral-izquierda nav {
    border-bottom: 1px solid #752f97;
    padding-bottom: 20px;
}

main .barra-lateral-izquierda nav a {
    display: block;
    padding: 3px;
    font-family: 'Roboto', sans-serif;
    color: #752f97;
}

main .barra-lateral-izquierda nav a:hover {
    background: #752f97!important;
    color: white;
    text-decoration: none;
}

main .barra-lateral-izquierda nav a i {
    margin-right: 10px;
}


/* --- --- MEDIAQUERIES --- --- */

@media screen and (max-width: 767px) {
    main .btn-menu {
        display: block;
        border: 1px solid #00609c;
        padding: 5px 10px;
        font-size: 14px;
        background: linear-gradient(to bottom, #1a87cd, #1176b6 100%);
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
        margin-bottom: 20px;
        text-align: center;
    }
    main .btn-menu:hover {
        text-decoration: none;
        background: #0d659d;
    }
    main .fondo-enlace {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        cursor: pointer;
        background: rgba(0, 0, 0, .5);
        z-index: 99;
        display: none;
    }
    main .fondo-enlace.active {
        display: block;
    }
    main .barra-lateral-izquierda {
        width: 85%;
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, .85);
        height: 100vh;
        margin: 0;
        padding: 0;
        transform: translateX(-99.99%);
        transition: all .3s ease;
        overflow: scroll;
    }
    main .barra-lateral-izquierda.active {
        transform: translateX(0%);
    }
    main .barra-lateral-izquierda nav {
        border-bottom: none;
    }
    main .barra-lateral-izquierda nav a {
        padding: 20px;
        color: #fff;
    }
    main .barra-lateral-izquierda nav a:hover {
        color: #752f97!important;
        background: #fff;
    }
}