<app-header></app-header>

<!--


<main class="container">
    <div class="row">
        <div class="col-md-3 barra-lateral-izquierda" id="barra-lateral-izquierda">
            <nav>
                <a href="#"><i class="fas fa-user"></i> Perfil</a>
                <a href="#"><i class="fas fa-newspaper"></i> % de grasa</a>
                <a href="#"><i class="fas fa-newspaper"></i> % de musculo</a>
                <a href="#"><i class="fas fa-newspaper"></i> % de grasa viseral</a>
                <a href="#"><i class="fas fa-newspaper"></i> Edad fisica</a>
                <a href="#"><i class="fas fa-newspaper"></i> Edad metabolica</a>
                <a href="#"><i class="fas fa-newspaper"></i> IMC</a>
                <a href="#"><i class="fas fa-newspaper"></i> TMB</a>
                <a href="#"><i class="fas fa-newspaper"></i> Rutinas</a>
            </nav>
        </div>

        <a href="#" class="fondo-enlace d-md-none" id="fondo-enlace"></a>

        <div class="col contenido-principal">
            <div class="publicar">
                <div class="row">
                    <div class="col">
                        <a href="#" class="btn-menu d-md-none d-flex justify-content-between" id="btn-menu">
                            <span>Menu</span>
                            <i class="icon-menu"></i>
                        </a>
                    </div>
                </div>

                Aqui van los elementos oh las rutas de los componentes que se van a mostrar cada vez que hacemos
                click en un opcion del dashboard 
            </div>
        </div>
    </div>
</main>
-->
<app-footer></app-footer>