body {
    background-color: #f8f8f8;
}

.encabezado {
    font-size: 2.4rem;
    font-family: 'Lato', sans-serif;
    color: #000000;
    line-height: 2.4rem;
}

.encabezado span {
    font-size: 3.8rem !important;
    font-family: 'Italianno', cursive;
    color: #f53756!important;
}


/** Nuevo sitio **/

.nuevo-sitio p {
    font-family: 'Lato', sans-serif;
    color: #979797;
    font-size: 1.6rem !important;
}

.nuevo-sitio {
    background-color: white;
}


/** news **/

.news .carousel {
    background-color: #752f97!important;
    height: 350px;
    display: flex;
    justify-content: space-between !important;
    padding: 40px;
}

.news .carousel-item h4 {
    color: white;
    font-weight: 700;
    font-size: 2.4rem;
    text-align: center;
}

.news .carousel-item blockquote {
    font-size: 1.8rem;
    color: white;
    font-style: italic;
}

.news .carousel-item p {
    font-size: .8rem;
}


/* HORARIOS **/

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: white;
}

.horario {
    background-color: #8ed3cc;
    color: #ffffff !important;
}

th {
    font-weight: bold;
    text-align: -internal-center;
}

.horario h2 {
    font-size: 2.2rem;
    font-family: 'Lato', sans-serif !important;
}

.horario .table {
    border: 2px solid #752f97!important;
}

.horario .table thead {
    background-color: #752f97!important;
}

.horario .table td,
.horario .table thead th {
    border: none;
}

.horario .table tbody tr td {
    padding: .35rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

.hovertr {
    color: #752f97!important;
}

.hovertr:hover {
    background-color: white;
    color: #f53756!important;
}

.bg-horario {
    background-image: url(/assets/img/you_can.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 400px;
}


/*-----------------------------------------
ESTILOS PARA "#contacto"
------------------------------------------*/

.bg-primary {
    background-color: #752f97!important;
}

#contact .detalle-rectangulo {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    background: #752f97!important;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%) translateY(50%) rotate(45deg);
    transform: translateX(-50%) translateY(50%) rotate(45deg);
}


/* CAROUSEL**/

.carousel-caption h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: #ffffff;
}

@media (max-width: 410px) 
{     
    .display-4 {  
      font-size: 3.1rem;  
      font-weight: 300;         
      line-height: 1.2;    
    } 
}