<app-header></app-header>

<div class="container">
    <div id="slider-principal" class="carousel slide mt-4" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#slider-principal" data-slide-to="0" class="active"></li>
            <li data-target="#slider-principal" data-slide-to="1"></li>
            <li data-target="#slider-principal" data-slide-to="2"></li>
        </ol>


        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="assets/img/slide_01.jpg" alt="Nuestras Instalaciones">
                <div class="carousel-caption">
                    <h3 class="text-uppercase">Nuestras Instalaciones</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/img/slide_02.jpg" alt="Conoce nuestros servicios">
                <div class="carousel-caption">
                    <h3 class="text-uppercase">Nuestro Equipo</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/img/slide_03.jpg" alt="Promoción">
                <div class="carousel-caption">
                    <h3 class="text-uppercase">Por que una visita al gimnacio es mas barato que una al medico</h3>
                </div>
            </div>
            <!--.carousel-item-->

        </div>
        <!--.carousel-inner-->

        <a href="#slider-principal" class="carousel-control-prev" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a href="#slider-principal" class="carousel-control-next" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<app-news></app-news>

<div class="horario">
    <div class="container">
        <div class="row">
            <div class="col-md-6 p-4">
                <h2 class="text-center text-uppercase mt-5">Horarios</h2>
                <p class="text-center mt-3 lead">
                    Estos son los horarios en que el gimnasio está operando.
                </p>
                <table class="table table-hover text-center mt-3">
                    <thead>
                        <tr>
                            <th class="text-center">
                                <select class="custom-select" id="inputGroupSelect01" #t (change)="getCurrentDay(t.value)" [ngModel]="daySelected">
                                        <option *ngFor="let item of dayList" value="{{item.id}}" >{{item.day}}</option>
                                    </select>
                            </th>
                            <th class="text-center">De</th>
                            <th class="text-center">Hasta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="hovertr" *ngFor="let item of currentScheduleList">
                            <td>{{item.idGymSchedule.day}}</td>
                            <td>{{item.startTime}}:{{item.startMinutes}} {{item.startPeriod}}</td>
                            <td>{{item.endTime}}:{{item.endMinutes}} {{item.endPeriod}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 bg-horario"></div>
        </div>
    </div>
</div>

<section id="contact">
    <div class="py-5 bg-primary text-white text-center position-relative">
        <h2 class="display-4 font-weight-bold">CONTÁCTANOS</h2>
        <h6 class="text-white-50">ESTAMOS LISTOS PARA ATENDERTE</h6>
        <div class="detalle-rectangulo"></div>
    </div>

    <div class="container">
        <div class="row py-5">

            <div class="col-12 col-lg-12">
                <h2 class="font-weight-bold text-center mb-2">Detalles de contacto:</h2>

                <ul class="list-unstyled">

                    <li class="d-flex border-bottom py-4">
                        <i class="fas fa-globe fa-3x text-primary mr-4 fa-fw"></i>
                        <div>
                            <h5 class="font-weight-bold">Dirección:</h5>
                            <p class="mb-0" *ngIf="address">{{address.provinceName}}, {{address.cantonName}}, {{address.districtName}}</p>
                        </div>
                    </li>

                    <li class="d-flex border-bottom py-4">
                        <i class="fas fa-mobile-alt fa-3x text-warning mr-4 fa-fw"></i>
                        <div>
                            <h5 class="font-weight-bold">Teléfono:</h5>
                            <p class="mb-0">{{currentGym.gymPhone}}</p>
                        </div>
                    </li>
                    <li class="d-flex border-bottom py-4">
                        <i class="fas fa-envelope-open fa-3x text-danger mr-4 fa-fw"></i>
                        <div>
                            <h5 class="font-weight-bold">Email:</h5>
                            <p class="mb-0">{{currentGym.email}}</p>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>