<app-header></app-header>
<hr>
<div class="container col-md-6">
    <div class="form-group col-md-6 text-center">
        <select class="custom-select" ngModel name="history" #gymSchedule="ngModel" id="history" #historyName (change)="getCurrentHistory(historyName.value)" [ngModel]="currentHistory" required>
                <option value='height' selected>Estatura</option>
                <option value='kilograms'>Kilogramos</option>
                <option value='fatPercentage'>% de Grasa</option>
                <option value='muscle'>Músculo</option>
                <option value='fatViceral'>Grasa Viseral</option>
                <option value='physicalAge'>Edad Física</option>
                <option value='metabolicAge'>Edad Metabolica</option>
                <option value='IMC'>Indice de Masa Corporal</option>
                <option value='TMB'>Tasa Metabolica Basal</option>
                <option value='bloodPressure'>Presión Arterial</option>
                <option value='waistCircumference'>Circunferencia de la Cintura</option>
                <option value='hipCircumference'>Circunferencia de la Cadera</option>
            </select>
        <div class="invalid-feedback">Seleccione un dia</div>
    </div>
    
    <div style="display: block">
        <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels" [colors]="chartColors" [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
    </div>
</div>

<br>

<app-footer></app-footer>