body {
    font-family: 'Montserrat', sans-serif;
}

.bg-danger {
    background-color: #f53756!important;
}

.bg-success {
    background-color: #4cb8b3!important;
}

.bg-secondary {
    background-color: #752f97!important;
}

.fixed-top.bg-success {
    -webkit-box-shadow: 0px 5px 19px -5px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 5px 19px -5px rgba(0, 0, 0, 0.44);
    box-shadow: 0px 5px 19px -5px rgba(0, 0, 0, 0.44);
}

.fixed-top {
    transition: all .3s ease;
}

.fixed-top .nav-link {
    color: white;
}

.fixed-top .active {
    background-color: #752f97!important;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: 400;
}

.navbar-brand span {
    font-weight: 700;
}

.navbar-brand:hover {
    color: #4cb8b3!important;
}

.name {
    color: #f53756!important;
}

.span-info {
    color: #f53756!important;
}


/* Esto es nuevo */

.bg-primary {
    background-color: #4cb8b3!important;
}

.text-primary {
    color: #f53756!important;
}


/*-----------------------------------------
  ESTILOS COLOR SECUNDARIO
  ------------------------------------------*/

.bg-secondary {
    background-color: #35363c !important;
}

.text-secondary {
    color: #35363c !important;
}


/*-----------------------------------------
  ESTILOS PARA "nombre gym"
  ------------------------------------------*/

span:hover {
    color: #4cb8b3!important;
}


/*-----------------------------------------
  ESTILOS PARA "#menu-navegacion"
  ------------------------------------------*/


/*Quitamos estilos al boton por defecto*/

#menu-navegacion .navbar-toggler {
    padding: 0;
    font-size: 1rem;
    line-height: 1;
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: 0;
}


/*Estilos boton del menu personalizado*/

#menu-navegacion .boton-menu:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f0c9";
    font-weight: 900;
    color: #fff;
    font-size: 2rem;
}

#menu-navegacion .icono-cerrar:before {
    content: "\f00d";
    position: relative;
    left: .2rem;
}


/*Estilos de los enlace del #menu-navegacion*/

.navbar-dark .navbar-nav .nav-link {
    padding: 1rem 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: .5rem;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.navbar-dark .navbar-nav .nav-link:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f105";
    font-weight: 900;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}


/*Estilos estado hover de enlace*/

.navbar-dark .navbar-nav .nav-link:hover {
    background-color: white;
    color: #4cb8b3;
}

.navbar-dark .navbar-nav .nav-link:hover:after {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}


/*Estilos para el enlace activo*/

.navbar-dark .navbar-nav .nav-link.active {
    background-color: #4cb8b3;
}

.navbar-dark .navbar-nav .nav-link.active:hover {
    color: #752f97;
    background-color: white;
}


/*Clase cuando  la barra de navegación se fija a la parte superior*/

.menu-fijo {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background-color: #1d1e21 !important;
    width: 100% !important;
}

@media (min-width: 768px) {
    .navbar-dark .navbar-nav .nav-link {
        padding: .7rem 1.2rem;
        border-radius: 1.5rem;
    }
    .navbar-dark .navbar-nav .nav-link:after {
        content: "";
    }
}

.bg-success {
    background-color: #4cb8b3!important;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    -webkit-box-shadow: 0px 5px 19px -5px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 5px 19px -5px rgba(0, 0, 0, 0.44);
    box-shadow: 0px 5px 19px -5px rgba(0, 0, 0, 0.44);
    transition: all .6s ease;
    width: 100%;
}

.bg-success .active {
    background-color: #752f97!important;
}

.bg-success .active:hover {
    background-color: white !important;
}


/** Nuevo sitio **/

.nuevo-sitio p {
    font-family: 'Lato', sans-serif;
    color: #979797;
    font-size: 1.6rem;
}


/* detalles-encabezado */

@media (max-width: 575px) {
    .navbar-brand[_ngcontent-c2] {
        font-size: 1.2rem !important;
        font-weight: 400;
    }
    .navbar-brand {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    .col-12 {
        text-align: center !important;
    }
}