<body>

    <!-- Sección #detalles-encabezado -->
    <section id="detalles-encabezado" class="d-md-block py-3">
        <div class="container">
            <div class="row justify-content-md-between align-items-center">
                <div class="col-12 col-sm-auto">

                    <a class="navbar-brand text-light name">Go-Gym <span> 2019</span></a>

                </div>

                <div class="col-12 col-sm-auto">

                    <a class="navbar-brand text-right name">{{gymName}}</a>

                </div>
            </div>
        </div>

    </section>

    <!-- Sección #menu-navegacion -->

    <nav id="menu-navegacion" class="navbar navbar-dark bg-secondary navbar-expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menu-principal" aria-expanded="false" aria-label="Botón Menú principal">
            <span class="boton-menu"></span>
        </button>

            <div class="collapse navbar-collapse" id="menu-principal">
                <ul class="navbar-nav mt-3 mt-md-0">
                    <li class="nav-item mb-1 mb-md-0 mr-md-2"><a routerLink="/home" routerLinkActive="active" routerLinkActiveOptions="(exact: true)" class="nav-link"><i class="fas fa-home"> Inicio</i></a></li>
                    <li class="nav-item mb-1 mb-md-0 mr-md-2"><a routerLink="/histories" routerLinkActive="active" class="nav-link"><i class="fas fa-chart-bar"> Historial</i></a></li>
                    <li class="nav-item mb-1 mb-md-0 mr-md-2"><a routerLink="/profile" routerLinkActive="active" class="nav-link"><i class="fas fa-user"> Perfil</i></a></li>
                    <li class="nav-item mb-1 mb-md-0 mr-md-2" (click)="logout()"><a class="nav-link">Cerrar Sesión</a></li> 
                </ul>
            </div>
        </div>
    </nav>

</body>