<section class="nuevo-sitio py-5">
    <h1 class="text-center text-uppercase mt-4 encabezado">
        <span class="text-lowercase d-block">Noticias Importantes </span>
    </h1>
    <p class="text-center mt-4">Por que para nosotros es importante <br> mantenerte informado.</p>
</section>

<div class="news py-5" id="news">
    <div class="container" id="news">
        <div id="carouselContent" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active text-center p-4">
                    <div class="col-md-12 pl-4 pt-40 pt-md-0">
                        <h4>Siempre te mantenemos informado</h4>
                        <blockquote class="text-justify">En esta sección vas a encontrar las noticias mas importantes sobre {{gymName}}</blockquote>
                    </div>
                </div>

                <div *ngFor="let item of news" class="carousel-item text-center p-4">
                    <div class="col-md-12 pl-4 pt-4 pt-md-0">
                        <h4> {{item.title}}</h4>
                        <blockquote class="text-justify">{{item.description}}</blockquote>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>