
body {
    background-color: #f8f8f8;
}

.encabezado {
    font-size: 2.4rem;
    font-family: 'Lato', sans-serif;
    color: #000000;
    line-height: 2.4rem;
}

.encabezado span {
    font-size: 3.8rem !important;
    font-family: 'Italianno', cursive;
    color: #f53756!important;
}


/** Nuevo sitio **/

.nuevo-sitio p {
    font-family: 'Lato', sans-serif;
    color: #979797;
    font-size: 1.6rem !important;
}

.nuevo-sitio {
    background-color: white;
}


/** news **/

.news .carousel {
    background-color: #752f97!important;
    height: 350px;
    display: flex;
    justify-content: space-between !important;
    padding: 40px;
}

.news .carousel-item h4 {
    color: white;
    font-weight: 700;
    font-size: 2.4rem;
    text-align: center;
}

.news .carousel-item blockquote {
    font-size: 1.8rem;
    color: white;
    font-style: italic;
}

.news .carousel-item p {
    font-size: .8rem;
}



/* CAROUSEL**/

.carousel-caption h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: #ffffff;
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 10%;
    size: 10ch;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
    width: 40px;
    height: 40px;
}

.carousel .carousel-control-prev-icon:hover,
.carousel .carousel-control-next-icon:hover {
    width: 60px;
    height: 60px;
}


/* media queries */

@media (max-width: 410px) {
    .display-4 {
        font-size: 3.1rem;
        font-weight: 300;
        line-height: 1.2;
    }
}

@media (max-width: 991px) {
    .news .carousel-item h4 {
        font-size: 2.0rem;
    }
    .news .carousel-item blockquote {
        font-size: 1.5rem;
    }
}

@media (max-width: 767px) {
    .news .carousel-item h4 {
        font-size: 1.6rem;
    }
    .news .carousel-item blockquote {
        font-size: 1.2rem;
    }
}

@media (max-width: 476px) {
    .news .carousel-item h4 {
        font-size: 1.2rem;
    }
    .news .carousel-item blockquote {
        font-size: 0.9rem;
    }
}