<footer class="footer-sitio pt-3 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-uppercase text-center pb-4 footer-text-title">Sobre <span class="footer-span">Go-Gym</span></h3>
                <p class="text-justify footer-text">
                    <span class="font-weight-bold">Go-Gym</span> es una plataforma virtual que permite la administración de los gimnasios, así como de todos los usuarios que pertenecen a cada uno de estos.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <h3 class="text-uppercase pb-4 footer-text-title">Contacto</h3>
                <p class="footer-text"><i class="fas fa-mobile-alt footer-phone"></i> 8525-4117 / 8604-7025 / 8307-4851
                </p>
                <p class="footer-text"><i class="fas fa-envelope-open footer-phone"></i> go-gym@gmail.com</p>
                <nav class="sociales text-center">
                    <ul class="redes-sociales list-unstyled d-inline-flex mb-0">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </nav>
            </div>
            <hr class="w-100">
            <p class="text-center copyright w-100"><span class="font-weight-bold">©2019.</span> Todos los derechos reservados.</p>
        </div>
    </div>

</footer>