/* footer */

footer {
    background-color: #4cb8b3;
}

.copyright {
    color: white;
    font-size: .8rem;
}

.footer-text-title {
    color: white;
    font-weight: bold;
}

.footer-text {
    color: white;
}

.footer-span {
    color: #752f97 !important;
}

.footer-phone {
    color: #752f97;
    font-size: 1.5rem;
}


/** Sociales **/

.redes-sociales li a i {
    color: white;
    font-size: 1.5rem;
    padding: .6rem 1rem;
    opacity: .8;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.redes-sociales li a i:hover {
    opacity: 1;
    -webkit-transform: scale(1.3) rotate(360deg);
    transform: scale(1.3) rotate(360deg);
    color: #752f97;
}

hr {
    border-top: 1px solid #752f97;
}